* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
body {
  background-color: #f0f4ff;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.app-card {
  width: 100%;
  max-width: 500px;
  background: #fff;
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 6rem;
  max-height: calc(100vh - 8rem);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.app-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #04348c;
  margin-bottom: 1rem;
}

.section {
  margin-bottom: 1.5rem;
}
.section h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #04348c;
  margin-bottom: 0.5rem;
}

input,
select {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #cbd5e1;
  border-radius: 0.75rem;
  margin-bottom: 0.75rem;
}

.single-input-row {
  display: flex;
  gap: 0.5rem;
}

.single-input-row select {
  flex: 1;
}
.single-input-row input {
  width: 90px;
}

.add-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e7ff;
  border: 1px solid #c3dafe;
  border-radius: 0.75rem;
  padding: 0.75rem;
  width: 55px;
  height: 55px;
  cursor: pointer;
}


.add-btn svg {
  display: block;
  margin: 0;
}


.bill-section li {
  display: flex;
  justify-content: space-between;
  align-items: center; /* This centers the items vertically */
  padding: 0.5rem 0;
  border-bottom: 1px dashed red;
  flex-wrap: wrap; /* Allows the content to wrap to the next line if space is limited */
}
.bill-section h2 {
  font-size: 1.3rem;
  font-weight: 800;
  color: #04348c;
  margin-bottom: 0.5rem;
}

.bill-section li span {
  color: #04348c;
  font-weight: 700;
  flex-grow: 1; /* Allows the span to take up available space */
  margin-right: 0.5rem; /* Adds some space between the text and the button */
}

.bill-section button {
  background: none;
  border: none;
  color: red;
  flex-shrink: 0; /* Prevents the button from shrinking */
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 500px;
  background: #fff;
  padding: 0.75rem 1rem;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 10;
}

.total-row {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.2rem;
  border-top: 2px dashed #cbd5e1;
  padding-top: 0.5rem;
}

.submit-btn {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #04348c;
  color: #fff;
  border: none;
  border-radius: 0.75rem;
}
.submit-btn:disabled {
  background-color: #aaa;
}